[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GitAI"]
	path = GitAI
	url = https://github.com/r-world-devs/gitai
[submodule "GitStats"]
	path = GitStats
	url = https://github.com/r-world-devs/gitstats
[submodule "cohortBuilder"]
	path = cohortBuilder
	url = https://github.com/r-world-devs/cohortbuilder
[submodule "jsplyr"]
	path = jsplyr
	url = https://github.com/r-world-devs/jsplyr
[submodule "shinyCohortBuilder"]
	path = shinyCohortBuilder
	url = https://github.com/r-world-devs/shinycohortbuilder
